$favColor: #f5f5f5;
$favFont: "Helvetica Neue";

$scale: 1.2; // Minor Third

$headline-1-px: 56px;
$headline-2-px: 36px;
$subhead-1-px: 24px;
$app-button-px: 21px;
$tile-label-px: 18px;
$app-body-px: 16px;

$headline-1-rem: 3.5rem;
$headline-2-rem: 2.25rem;
$subhead-1-rem: 1.5rem;
$app-button-rem: 1.313rem;
$tile-label-rem: 1.125rem;
$app-body-rem: 1rem;

$headline-1-vw: 4vw;

$phone: "max-width: 500px";
$tablet: "min-width: 501px) and (max-width: 768px";
$laptop: "min-width: 769px) and (max-width: 1024px";
$desktop: "min-width: 1025px) and (max-width: 1320px";
